<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>登录</h1>
    <form method="post"  th:action="@{/test/show}">
        <input type="text" name="name" placeholder="用户名">
        <input type="password" name="password" placeholder="密码">
        <input type="submit">
    </form>
    <a th:href="@{/success(username='admin',password=123456)}">点这里</a>
</div>
</body>
</html>